# ---- Rust ----
/rust_kernel/target/
/rust_kernel/Cargo.lock

# ---- Julia ----
/julia/Manifest.toml
/julia/.DS_Store
.julia/
*.jl.cov
*.jl.*.cov
*.mem
*.ji

# ---- OS/editor ----
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/


# --- images ---
/julia/*.png
/julia/hashing_bounds_vs_p.png
plots/

# --- old files ---
/rust_kernel/src/*old*
/julia/src/*old*
/julia/*old*

